html, body {
	margin:		0;
	padding:	0;
}

body {
	background:	silver;
	font-family: arial, helvetica, sans-serif;
}
.tabs, .tabs li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.tabs {
	margin: 0.25em;
	margin-bottom: 0;
}
.tabs a {
	padding: 0.5em;
	border-radius: 0.5em 0.5em 0 0;
	background-color: #ddd;
	box-shadow: 0 0 2px black;
	display: block;
}

.tabs a:hover {
	background-color: #eee;
}

#main {
	clear: both;
	float: left;
	width: 100%;
}

#droplabel {
	list-style-type: none;
	font-style: italic;
}

.filedrag #dropbox {
	background-color: infoBackground;
}

#dropbox {
	min-height: 100%;
}

#player {
	float: left;
}

#player h3,
#player audio {
	float: left;
}
#player audio {
	margin: 0.5em;
}

.playlist {
	background-color: #EEE;
	padding-bottom: 1em;
	padding: 0.5em;
	padding-left: 2em;
	font-family: sans;
}
.playlist li {
	border-bottom: 1px solid #BBE;
	padding: 0.25em;
	clear: both;
	position: relative;
}

.playlist li a {
	text-decoration: none;
	display: block;
}

.playlist li a:hover {
	font-weight: bold;
}

.playlist li button {
	line-height: 1em;
	position: absolute;
	right: 0;
	top: 0.25em;
}

.playlist li:last-child{
    border-bottom: none;
}
