
#breadcrumbs {
	margin-top: 0.5em;
	margin-bottom: 1em;
}
#breadcrumbs .folder {
	margin-right: 3px;
}


#mkdir,
#rmdir,
#playlist-add-all {
	float: right;
	margin-left: 1em;
}

#uploads .ui-button {
	text-align: left;
}

#uploads-clear-completed {
	float: right;
}