html {
	height: 100%;
}
html, body {
	margin:		0;
	padding:	0;

}

body {
	background:	#999;
	font-family: arial, helvetica, sans-serif;
	height: 100%;
}
/*@media only screen 
and (max-device-width : 480px) {
	body {
		
	}
}*/

@media screen and (max-width:500px) {
	#mkdir,
	#rmdir,
	#uploads,
	#changelog,
	.playlist td.playlist-column-delete {
		display: none;
	}
	.playlist .extra {
		display: none;
	}
	.playlist td a {
		padding: 0;
	}
	
	#top #player {
		padding: 0;
	}
}

#top {
	position: 		fixed;
	background:		#999;
	width:			100%;
	z-index:		1;
	top:			0;
	left:			0;
	box-shadow:		0 -5px 25px black;
}

#top .layout td {
	padding: 0;
}

#tabs {

}

#viewtitle {
	margin: 0;
	margin-left: 1em;
	line-height: 2em;
	text-shadow: 1px 1px 3px black;
}
a:visited {
	/*color:	#66B;*/
}

a:link {
	/*color:	#66B;*/
}

#main {
	clear: both;
	background-color: #EEE;
	padding: 0.5em;
	min-height: 100%;
	color: #333;
}


a {
	color: #333;
}
#droplabel {
	list-style-type: none;
	font-style: italic;
}

.filedrag #dropbox #uploads ul,
.filedrag #dropbox #files ul {
	background-color: infoBackground;
}

#dropbox {
	
}

#player {
	padding: 0.5em;
}

#player .button {
	margin: 0.2em;
}

#player .button {
	float: left;
}

#player-progress {
	clear: both;
	margin: 0.2em;
	position: relative;
	overflow: visible;
	white-space: nowrap;
}

#player-textstatus {
	text-shadow: black 1px 1px 3px;
	position: absolute;
	height: 100%;
}

#player-textstatus div {
	display: inline-block;
}

#player-current-time {

	line-height: 2em;
	padding-left: 0.5em;
}


#player h3 {
	color: white;
	margin: 0.5em 0.5em;
	text-shadow: black 1px 1px 3px;
	font-size: 1em;
	display: inline-block;
}

#player h3 a {
	color: white;
	text-decoration: none;
}

.playlist h3 {
	margin-bottom: 0;
}

.playlist ul,
.playlist table {
	background-color: #FFF;
	padding-bottom: 1em;
	padding: 0.5em;
	border-radius: 0.25em;
	margin: 0.5em 0;
	border-spacing: 0;
}

.playlist table td {
}

.playlist tr.player-current td {
	font-weight: bold;
}
.playlist .delete {
	margin-left: 0.5em;
}
.ui-button.inline .ui-button-text {
	padding: 0 0.25em;
	font-size: 0.9em;
}
 
.playlist li {
	clear: both;
	position: relative;
	list-style-type: none;
	margin-bottom: 2px;
	margin-top: 2px;
}

#tabs .ui-tabs-panel {
	padding: 0.25em 0.5em;
}
#mkdir, #rmdir {
	float: right;
	margin: 0 0.25em;
}

li#breadcrumbs {
	margin: 0;
}
#breadcrumbs .folder {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 3px;
}

.playlist #folders a {
	padding: 0.25em;
	display: block;
	text-align: left;
}

.playlist td {
}

.playlist td a {
	display: block;
	padding: 0.2em;
	color: #333;
	text-decoration: none;
	vertical-align: top;
}

.playlist tr:hover {
	color: black;
	background: silver;
}

.playlist li.file a:hover {
	background: silver;
	border-radius: 2px;
}

.playlist li.file.ui-draggable-dragging {
	display: inline-block;
}
.playlist li.file.ui-draggable-dragging a {
	background: silver;
	border-radius: 2px;
	display: inline-block;
}
.playlist li.file.ui-draggable-dragging button {
	display: none;
}


.playlist li:last-child{
    border-bottom: none;
}

.playlist-column-duration {
	text-align: right;
}

#lyrics {
	white-space: pre-wrap;
}
