html {
	height: 100%;
}
html, body {
	margin:		0;
	padding:	0;

}

body {
	background:	#999;
	font-family: arial, helvetica, sans-serif;
	height: 100%;
}
/*@media only screen 
and (max-device-width : 480px) {
	body {
		
	}
}*/

@media screen and (max-width:500px) {
	#mkdir,
	#rmdir,
	#uploads,
	#changelog,
	.playlist td.playlist-column-delete {
		display: none;
	}
	.playlist .extra {
		display: none;
	}
	.playlist td a {
		padding: 0;
	}
	
	#top #player {
		padding: 0;
	}
}

a:visited {
	/*color:	#66B;*/
}

a:link {
	/*color:	#66B;*/
}

a {
	color: #333;
}
#droplabel {
	list-style-type: none;
	font-style: italic;
}

.filedrag #dropbox #uploads ul,
.filedrag #dropbox #files ul {
	background-color: infoBackground;
}

#dropbox {
	
}

#player td {
	padding: 0.5em;
}


#player-controls {
}

#player #player-play,
#player #player-pause {
	padding: 0.25em 1.5em;
	border-radius: 0.5em;
}

#player button {
	padding: 0 1.5em;
}

#player button .ui-button-text {
	padding: 0.5em;
}

#player-progress {
	clear: both;
	position: relative;
	overflow: visible;
	white-space: nowrap;
}

#player-progress .ui-progressbar-value {
	position: absolute;
	top: 0;
	z-index: 0;
}

#player-textstatus {
	text-shadow: black 1px 1px 3px;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}

#player-textstatus div {
	display: inline-block;
	line-height: 2em;
}

#player-current-time {
	padding-left: 0.5em;
}

.ui-button.inline {
}
.ui-button.inline .ui-button-text {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0.9em;
}


#lyrics {
	white-space: pre-wrap;
}
