#tabs {
	white-space:	nowrap;
	padding-right:	1em;
	width:			300px;
}


#top {
	position: 		fixed;
	background:		#999;
	width:			100%;
	z-index:		1;
	top:			0;
	left:			0;
	box-shadow:		0 0px 10px black;
}

#main {
	padding:		0.5em;
	background:		#CCC;
	min-height:		100%;
}

.text-input-container {
	display: inline-block;
	padding-right: 16px;
	position:relative;
}

.text-input-container .ui-icon {
	position: absolute;
	right: 2px;
	top: 2px;
	opacity: 0.5;
}

.text-input-container input {
	border:		0;
	background: transparent;
}

/*input.text-input {
	height:	2em;
	font-weight: normal;
	padding: 0 0.5em;
	background-image: url();
}*/